body {
    color: black;
    background-color: darkkhaki;
    font-family: cursive;
    font-size: 15px
}

h1 {
    color: aqua;
    text-decoration: underline;
}

h2 {
    color: green;
}

#html-anatomy-heading {
    color:indianred;
    text-decoration: underline; 
}

#heading {
    color: maroon;
}

#intro-ps {
    font-style: italic;
    font-size: 0.8em
}